/*
 * vim: set et ts=4 sw=4
 *------------------------------------------------------------
 *                                  ___ ___ _
 *  ___ ___ ___ ___ ___       _____|  _| . | |_
 * |  _| . |_ -|  _| . |     |     | . | . | '_|
 * |_| |___|___|___|___|_____|_|_|_|___|___|_,_|
 *                     |_____|
 * ------------------------------------------------------------
 * Copyright (c) 2021 Ross Bamford
 * MIT License
 *
 * Example of using assembly PCX loader from C (With xosera_api)
 * ------------------------------------------------------------
 */

#include "xosera_api.h"
#include "pcx_asm.h"

volatile xreg_t * const xosera_ptr = (volatile xreg_t * const)0xf80060;

extern void *_image_start;
extern void *_image_end;

void kmain() {
    uint32_t buf_start = (uint32_t)&_image_start;
    uint32_t buf_size  = (uint32_t)&_image_end - (uint32_t)&_image_start;
    uint8_t *buf = (uint8_t*)buf_start;

    xosera_init(0);

    xv_reg_setw(gfxctrl, 0x0075);
    xv_reg_setw(dispwidth, 160);

    show_pcx(xosera_ptr, buf, buf + buf_size, 0);

    while (true) {}
}

